doctype html
html
	head
		title= title
		style(src='/css/bootstrap.min.css')
		style(src='/css/style.css')

	body
		block content

		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/scripts.js')